[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mdir.logrank"]
	path = mdir.logrank
	url = https://github.com/marcdii/mdir.logrank
